img {
  display: block;
  width: 280px;
  height: 180px;
  object-fit: cover;
}
body {
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.containe-form {
  width: 100%;
  height: 100px;
  background-color: #abe5f7;
}
.input-form {
  width: 300px;
  height: 20px;
}
.search-form {
  padding-top: 35px;
}
.gallery {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.photo-card {
  flex-basis: calc((100% - 120px) / 4);
}
.photo-card {
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 15px;
  padding-right: 15px;
}
.info-item {
  margin-right: 10px;
  text-align: center;
}
.info-item:last-child {
  margin-right: 0;
}
.info-item__title {
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #000000;
}
.info-item__number {
  font-size: 12px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #494949;
}
.load-more {
  margin: 0 auto;
  text-align: center;
}
.button.is-hidden {
  display: none;
}
.spinner.is-hidden {
  display: none;
}
.button {
  width: 100px;
  height: 25px;
  color: #fff;
  background-color: #0084ff;
  border-color: #0084ff;
  border-radius: 10%;
}
